
.icon-button {
    border: none; /* ลบขอบปุ่ม */
    background: transparent; /* ตั้งค่าพื้นหลังเป็นโปร่งใส */
    padding: 0; /* ลบการจัดระยะขอบภายใน */
    cursor: pointer; /* แสดงลูกศรเมาส์ */
  }
  
  .icon-button .anticon {
    font-size: 20px; /* ปรับขนาดไอคอน */
    color: #000; /* ตั้งค่าสีของไอคอน */
  }
  