@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.sidebar-normal {
  @apply flex items-center p-2 whitespace-nowrap;
}

.sidebar-first {
  @apply flex items-center text-[#009540] font-bold block p-2 whitespace-nowrap;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* สำหรับ Internet Explorer และ Edge */
  scrollbar-width: none; /* สำหรับ Firefox */
}

.tab .tab-active {
  border-bottom-color: #00935F !important;
  color: #000000; /* ข้อความสีดำ */
  border-bottom-width: 2px;
}

.tabs .tab-active {
  border-bottom-color: #00935F !important;
  color: #000000; /* ข้อความสีดำ */
  border-bottom-width: 2px;
}